/* styles.css */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.navbar {
    display: flex;
    align-items: center;
    background-color: white;
    padding: 10px;
    position: fixed;
    width: 100%;
    z-index: 10;
    top: 0;
}

.navbar-logo {
    color: black;
    text-decoration: none;
    font-size: 24px;
    margin-right: auto;
}

.navbar a {
    color: black;
    text-decoration: none;
    padding: 14px 20px;
}

.navbar a:hover {
    background-color: #f0f0f0;
}

.navbar-toggler {
    border-color: rgba(0, 0, 0, 0.1);
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0, 0, 0, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

.div1 {
    position: relative;
    height: 400px;
    background-image: url('../images/div1.jpg');
    background-size: cover;
    background-position: center;
    margin-top: 60px; /* To account for the fixed navbar */
}

.div2 {
    position: relative;
    top: -80px; /* Adjust to overlap div1 */
    margin: 0 70px;
    background-color: white;
    padding: 10px; /* Adjust padding as required */
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1;
}

.search-section {
    padding: 10px; /* Adjust padding as required */
}

.search-section h1 {
    font-size: 32px;
    margin-bottom: 20px;
}

.search-section .form-group {
    margin-bottom: 20px;
    margin-right: 20px;
}

.search-section .form-control {
    border-radius: 10px;
    height: 50px;
    font-size: 18px;
}

.search-section .btn {
    border-radius: 10px;
    height: 50px;
    font-size: 18px;
    width: 100%;
}

.search-lifestyle-section h1 {
    font-size: 32px;
    margin-bottom: 20px;
}

.lifestyle-menu {
    display: flex;
    overflow-x: auto;
    gap: 20px;
}

.lifestyle-item {
    flex: 0 0 auto;
    text-align: center;
}

.lifestyle-item img {
    width: 120px;
    height: auto;
    border-radius: 10px;
}

.lifestyle-item span {
    display: block;
    margin-top: 5px;
    font-size: 16px;
}

@media (min-width: 769px) {
    .search-section .form-row .form-group {
        flex: 1;
    }
    .search-section .btn {
        height: 50px;
        margin-left: 10px;
        width: auto;
        flex: none;
    }
}

@media (max-width: 768px) {
    .search-section .form-row {
        display: none;
    }
    .search-section .btn {
        display: block;
        width: 100%;
        height: 50px;
        font-size: 18px;
        margin-top: 0;
    }
    .search-section {
        padding-top: 3%;
    }
    .div2 {
        padding-top: 0;
    }
}
